.blog-container {
  text-align: center;
}

.blog-page-wrapper .bigcards-container {
  margin-top: 0;
}

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 20px;
}

@media (min-width: 1200px) {
  .blog-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
